* {
  box-sizing: border-box;
  color: #ddd;
}
body {
  width: 500px;
  margin: 0 auto;
  background-color: #333;
}
h1 {
  padding: 10px;
  border: 2px solid #444;
  background-color: #444;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
}
a {
  color: #66d9ef;
}
ul {
  display: flex;
}
li {
  margin: 2px;
}
